/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #f1f1f1;
  border-top: 1px solid #ccc;
}

.footer button {
  margin-right: 10px; /* Optional: to add some space between buttons */
}